* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}
.container{
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
}
h1, h2, h3, h4, h5, p, a{
  color: lime;
  font-family: Courier New;
}
h1{
  text-align: center;
  font-size: 45px;
}
p{
  text-align: center;
}

.header {
  width:100%;
  height: 100px;
  background-color: blue;
  display: flex;
  align-items:center;
}
.topnav{
  background-color: blue;
  overflow: hidden;
  border-radius: 45px;
}
.topnav a{
  float: left;
  color: lime;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
.topnav a.active{
  background-color:lime;
  color:navy;
  font-family: Impact;
  border-radius: 95px;
}
.topnav a:hover{
  background-color:lime;
  color: navy;
  font-family: impact;
  border-radius: 45px;
}
canvas {
background-color: black;
}

.game{
  width: 500px;
  height: 200px;
  border: 1px solid green;
  margin: auto;
  padding: 400px;
}
#character{
  width: 20px;
  height: 50px;
  position:relative;
  background-color: green;
  top: 150px;
}
.animate{
  animation: jump 500ms linear;
}
@keyframes jump{
  0%{top: 150px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}

#block{
  background-color: blue;
  width: 20px;
  height: 20px;
  position: relative;
  top: 130px;
  left: 500px;
  animation: block 1s infinite linear;
}
@keyframes block{
  0%{left: 500px}
  100%{left: -20px}
}
