* {
  box-sizing: border-box;
}

/* Header/Nav */

header {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    color: white; 
    font-family: Times, Times New Roman, serif;
}

header *{
    display: inline;
}

header li{
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}

header li a.active {
    color: #FFFFFF;
    font-family: Impact;
}
header li a:hover {
    color: white;
    font-family: Impact;
}

header img {
    height: 40px;
    margin-left: 40px;
}

/*Parallax*/
.p1 {
    
    min-height: 300px;
    max-height: 300px;
   /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}  
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left1 {
  width: 25%;
  background-color: white;
  height: 300px;
  background-image: url("https://www.freeiconspng.com/thumbs/iphone-x-pictures/iphone-x-and-iphone-8-png-12.png");
}


.right1 {
  width: 75%;
  background-color: white;
  color: white;
  height: 300px;
  margin: auto;
  text-align: center;
}
.right1 h1 {
  color: white;
  font-family:"Copperplate";
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
        }

