/* Header/Nav */

header {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    color: white; 
    font-family: Times, Times New Roman, serif;
}

header *{
    display: inline;
}

header li{
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}

header li a.active {
    color: #FFFFFF;
    font-family: Impact;
    radius: 30px;
}
header li a:hover {
    color: white;
    font-family: Impact;
    boarder-radius: 30px;
}

header img {
    height: 40px;
    margin-left: 40px;
}

/*Parallax*/
.p1 {
    
    min-height: 500px;
   /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

        }
}
